<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-code" class="form-control" name="row[code]" type="text" value="{$row.code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text" value="{$row.title|htmlentities}">
        </div>
    </div>



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-cid" class="form-control selectpage" data-source="product/type/index" data-primary-key="id" data-field="name"  name="row[cid]" type="text" value="{$row.cid|htmlentities}">
        </div>
    </div>
    <!--<div class="form-group">-->
    <!--    <label class="control-label col-xs-12 col-sm-2">交易时间:</label>-->
    <!--    <div class="col-xs-12 col-sm-8">-->
    <!--        <input id="c-title" class="form-control" name="row[trade_time]" type="text" value="{$row.trade_time|htmlentities}">-->
    <!--    </div>-->
    <!--</div>-->

    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">时间玩法间隔:</label>
        <div class="col-xs-12 col-sm-8">
            <dl class="fieldlist"  data-template="basictpl"  data-name="row[play_rule]">
                <dd>
                    <ins>时间(秒)</ins>
                    <ins>赢赔比例(%)</ins>
                    <ins>亏赔比例(%)</ins>
                </dd>
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
                <textarea name="row[play_rule]" class="form-control hide" cols="30" rows="5">{$row.play_rule|htmlentities}</textarea>
            </dl>
            <script id="basictpl" type="text/html">
                <dd class="form-inline">
                    <ins><input type="text" name="<%=name%>[<%=index%>][time]" class="form-control" value="<%=row.time%>" placeholder="" size="10"/></ins>
                    <ins><input type="text" name="<%=name%>[<%=index%>][win]" class="form-control" value="<%=row.win%>" placeholder=""/></ins>
                    <ins><input type="text" name="<%=name%>[<%=index%>][lose]" class="form-control" value="<%=row.lose%>" placeholder=""/></ins>
                    <!--下面的两个按钮务必保留-->
                    <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                    <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                </dd>
            </script>
        </div>
    </div>

<div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">时间段控制:</label>
        <div class="col-xs-12 col-sm-8">
            <dl class="fieldlist" data-template="timetpl" data-name="row[time_control]">
                <dd>
                    <ins>起始时间</ins>
                    <ins>结束时间</ins>
                    <ins>类型</ins>
                </dd>
                <!-- 模板 -->
                <script id="timetpl" type="text/html">
                    <dd class="form-inline">
                        <ins><input type="time" name="<%=name%>[<%=index%>][start_time]" class="form-control" value="<%=row.start_time%>" /></ins>
                        <ins><input type="time" name="<%=name%>[<%=index%>][end_time]" class="form-control" value="<%=row.end_time%>" /></ins>
                        <ins>
                        <select id="c-is_open" data-rule="required" class="form-control selectpicker" name="<%=name%>[<%=index%>][type]">
                            <option value="1" <%= row.type == 1 ? 'selected' : '' %>>买涨</option>
                            <option value="2" <%= row.type == 2 ? 'selected' : '' %>>买跌</option>
                        </select>
                        </ins>
                        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                        <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                    </dd>
                </script>
                <!-- 追加按钮 -->
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> 添加时间段</a></dd>
                <!-- 隐藏域 -->
                <textarea name="row[time_control]" class="form-control hide" cols="30" rows="5">{$row.time_control|htmlentities}</textarea>
            </dl>
        </div>
    </div>
    
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">委买时间玩法间隔:</label>
        <div class="col-xs-12 col-sm-8">
            <dl class="fieldlist"  data-template="basictpl"  data-name="row[wm_time_control]">
                <dd>
                    <ins>时间(秒)</ins>
                    <ins>赢赔比例(%)</ins>
                    <ins>亏赔比例(%)</ins>
                </dd>
                <dd><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
                <textarea name="row[wm_time_control]" class="form-control hide" cols="30" rows="5">{$row.wm_time_control|htmlentities}</textarea>
            </dl>
            <script id="basictpl" type="text/html">
                <dd class="form-inline">
                    <ins><input type="text" name="<%=name%>[<%=index%>][time]" class="form-control" value="<%=row.time%>" placeholder="" size="10"/></ins>
                    <ins><input type="text" name="<%=name%>[<%=index%>][win]" class="form-control" value="<%=row.win%>" placeholder=""/></ins>
                    <ins><input type="text" name="<%=name%>[<%=index%>][lose]" class="form-control" value="<%=row.lose%>" placeholder=""/></ins>
                    <!--下面的两个按钮务必保留-->
                    <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>
                    <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>
                </dd>
            </script>
        </div>
    </div>
    



    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" class="form-control " rows="5" name="row[remark]" cols="50">{$row.remark|htmlentities}</textarea>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_open')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-is_open" data-rule="required" class="form-control selectpicker" name="row[is_open]">
                <option value="0" {in name="0" value="$row.is_open"}selected{/in}>关闭</option>
                <option value="1" {in name="1" value="$row.is_open"}selected{/in}>启用</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-status" data-rule="required" class="form-control selectpicker" name="row[status]">
                <option value="0" {in name="0" value="$row.status"}selected{/in}>禁用</option>
                <option value="1" {in name="1" value="$row.status"}selected{/in}>正常</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">排序:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rank" class="form-control" name="row[rank]" type="text" value="{$row.rank|htmlentities}">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script type="text/javascript" src="__CDN__/assets/js/jquery.min.js"></script>
